<nav aria-label="breadcrumb">
    <div class="card mb-3">
        <div class="card-body">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="/">Home</a>
                </li>

                <li class="breadcrumb-item">
                    <a href="/journal/welcome.html">Journal</a>
                </li>

                {% if page.date %}
                    {% assign year = page.date | date: "%Y" %}
                    {% assign month_number = page.date | date: "%m" %}
                    {% assign month_name = page.date | date: "%B" %}

                    <li class="breadcrumb-item">
                        <a href="/journal/{{ year }}/">{{ year }}</a>
                    </li>

                    <li class="breadcrumb-item">
                        <a href="/journal/{{ year }}/{{ month_number }}/">{{ month_name }}</a>
                    </li>

                    <li class="breadcrumb-item active" aria-current="page">
                        {{ page.title }}
                    </li>

                {% elsif page.year %}
                    {% if page.month %}
                        <li class="breadcrumb-item">
                            <a href="/journal/{{ page.year }}/">{{ page.year }}</a>
                        </li>

                        <li class="breadcrumb-item active">
                            {{ page.month }}
                        </li>
                    {% else %}
                        <li class="breadcrumb-item active">
                            {{ page.year }}
                        </li>
                    {% endif %}
                {% endif %}
            </ol>
        </div>
    </div>
</nav>