<a class="text-decoration-none" href="{{ entry.url }}">
    <div class="card card-action mb-1">
        <div class="card-body">
            <h5 class="card-title">
                {{ entry.title | default: entry.basename }}
            </h5>
            <h6 class="card-subtitle text-muted mb-3">
                {{ entry.date | date: "%b %d, %Y" }}
            </h6>

            <div class="card-text">
                {% if entry.tags and entry.tags.size > 0 %}
                    <div class="d-flex flex-wrap gap-2 my-3">
                        {% for tag in entry.tags %}
                            {% assign name = "#" | append: tag | replace: "_", " " %}
                            {% include item-badge.html name=name color="primary" link=false %}
                        {% endfor %}
                    </div>
                {% endif %}
                
                {% if entry.description2 %}
                    <p class="mb-3">{{ entry.description2 }}</p>
                {% endif %}
            </div>
        </div>
    </div>
</a>
