<section class="container">
    <header class="d-flex flex-wrap align-items-center align-content-between justify-content-center py-3 mb-4 border-bottom">
        <a class="d-flex mb-md-0 me-md-auto link-body-emphasis text-decoration-none" href="/">
            <span class="fs-4" style="margin-right:20px;">
                About Me
            </span>
        </a>

        <ul class="nav nav-pills">
            {% for nav in site.data.navbar %}
            {% assign p = page.url | downcase %}
                {% if page.url == "/" and nav.name == "index" %}
                    {% assign active = true %}
                {% elsif page.url contains nav.name %}
                    {% assign active = true %}
                {% else %}
                    {% assign active = false %}
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link {% if active %}active{% endif %}" href="{{ nav.url }}">
                        {{ nav.label }}
                    </a>
                </li>
            {% endfor %}
        </ul>

        <div class="d-flex" style="height:40px;margin-left:20px;">
            <div class="vr"></div>
        </div>
        
        <div class="form-check form-switch ms-3 ">
            <input class="form-check-input" type="checkbox" id="theme-toggle"/>
            <label class="form-check-label" for="theme-toggle">Dark Mode</label>
        </div>
    </header>
</section>

<script>
    const toggle = document.getElementById("theme-toggle");
    if (toggle) {
        toggle.checked = document.documentElement.getAttribute("data-bs-theme") === "dark";
        toggle.addEventListener("change", () => {
            const theme = toggle.checked ? "dark" : "light";
            document.documentElement.setAttribute("data-bs-theme", theme);
            localStorage.setItem("theme", theme);
        });
    } else {
        console.warn("Theme toggle element not found.");
    }
</script>