<nav class="navbar navbar-expand-md">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">About Me</a>

        <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav nav nav-pills me-auto mt-2 mt-md-0">
                {% for nav in site.data.navbar %}
                {% assign p = page.url | downcase %}
                    {% if page.url == "/" and nav.name == "index" %}
                        {% assign active = true %}
                    {% elsif page.url contains nav.name %}
                        {% assign active = true %}
                    {% else %}
                        {% assign active = false %}
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link {% if active %}active{% endif %}" href="{{ nav.url }}">
                            {% if nav.icon %}
                                <i class="bi {{ nav.icon }}"></i>
                            {% endif %}
                            {{ nav.label }}
                        </a>
                    </li>
                {% endfor %}
            </ul>

            <form class="form-inline my-2 my-md-0">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="theme-toggle"/>
                    <label class="form-check-label" for="theme-toggle">Dark Mode</label>
                </div>
            </form>
        </div>
    </div>
</nav>

<script>
    const toggle = document.getElementById("theme-toggle");
    if (toggle) {
        toggle.checked = document.documentElement.getAttribute("data-bs-theme") === "dark";
        toggle.addEventListener("change", () => {
            const theme = toggle.checked ? "dark" : "light";
            document.documentElement.setAttribute("data-bs-theme", theme);
            localStorage.setItem("theme", theme);
        });
    } else {
        console.warn("Theme toggle element not found.");
    }
</script>