{% assign journal_public = site.journal | where_exp: "i", "i.data.private != true" %}

<div class="col-12 col-lg-3 bg-light">
    <div class="p-3">
        <h5>Journal</h5>
        
        {% include sidebar-welcome.html page=page %}

        <ul class="nav flex-column" id="journal-tree">
            {% assign others = site.journal
                | where_exp: "i", "i.data.private != true"
                | where_exp: "i", "i.title != 'Welcome'"
                | sort: "date" | reverse %}

            {% assign by_year = others | group_by_exp: "item", "item.date | date: '%Y'" %}
            {% for year in by_year %}
                {% include sidebar-year.html year=year page=page %}
            {% endfor %}
        </ul>
    </div>
</div>