---
layout: static
---

<section class="container my-5">
    <div class="p-5 text-center bg-body-tertiary rounded-3">
        <div class="row">
            <div class="col-12 col-lg-8">
                <h1 class="text-body-emphasis">I'm Pup Sabin</h1>
                <p class="lead">
                    Awooo! It's great to see you here!
                </p>
                <p class="lead">
                    I'm a pup, furry, and therian into techy things and sports gear. I have a lovely
                    fiancee who is also my owner and handler. During the day, I work as a software
                    engineer and consultant making pretty cool shit for a living.
                </p>
                <p class="lead">
                    I love the color <span style="font-weight:bold; color:orange">orange</span>.
                </p>
            </div>
            <div class="col-12 col-lg-4">
                <img src="assets/imgs/Main_Image.jpg" height="250">
            </div>
        </div>
    </div>
</section>

<section class="container px-4 py-5">
    <h2 class="pb-2 border-bottom">Social Medias</h2>

    <div class="d-flex flex-wrap gap-3 py-2">
        {% for social in site.socials %}
            {% include social_card.html social=social %}
        {% endfor %}
    </div>
</section>