{% assign journal_public = site.journal | where_exp: "i", "i.data.private != true" %}

<div class="list-group list-group-flush">
    <a class="list-group-item list-group-item-action {% if page.url contains '/welcome' %}active{% endif %}" href="/journal/welcome.html">
        <i class="bi bi-door-open"></i>
        Welcome
    </a> 

    <a class="list-group-item list-group-item-action {% if page.url contains '/tags/' %}active{% endif %}" href="/journal/tags/">
        <i class="bi bi-tags"></i>
        All Tags
    </a>

    <a class="list-group-item list-group-item-action {% if page.url contains '/moods/' %}active{% endif %}" href="/journal/moods/">
        <i class="bi bi-emoji-smile"></i>
        All Moods
    </a>

    <a class="list-group-item list-group-item-action {% if page.url contains 'changelog' %}active{% endif %}" href="/journal/changelog.html">
        <i class="bi bi-code-square"></i>
        Change Log
    </a>
</div>