{% assign journal_public = site.journal | where_exp: "i", "i.data.private != true" %}

{% assign welcome = journal_public | where: "title", "Welcome" | first %}
{% if welcome %}
    <li class="nav-item" style="list-style: none">
        <a class="nav-link {% if page.url == welcome.url %}active fw-bold{% endif %}" href="{{ welcome.url }}">
            {{ welcome.title | default: welcome.basename }}
        </a> 
    </li>
    <li class="nav-item" style="list-style: none">
        <a class="nav-link {% if page.url contains '/tags/' %}active fw-bold{% endif %}" href="/journal/tags/">
            All Tags
        </a>
    </li>
    <hr>
{% endif %}