---
layout: with_sidebar
---

{% include entry-status.html %}
{% include breadcrumbs.html %}

<div class="card mb-3">
    <div class="card-header">
        <h5>{{ page.date | date: "%b %d, %Y" }}</h5>
    </div>
    <div class="card-body">
        <h1>{{ page.title }}</h1>
        <h6 class="text-muted">{{ page.description2 | default: page.description }}</h6>
        <hr>

        {% include entry-top-widgets.html %}
    </div>
</div>

<div class="card mb-3">
    <div class="card-body">
        {{ content }}
        
        {% include series-nav.html %}
    </div>
</div>

<div class="comments-section" class="card mb-3">
    <div class="card-header">
        <h5>Comments</h5>
    </div>
    <div class="card-body">
        <div id="comments-list" class="mb-3"></div>

        <form id="comment-form">
            <input type="text" id="comment-name" class="form-control mb-2" placeholder="Name (optional)"/>
            <textarea id="comment-text" class="form-control mb-2" placeholder="Comment" required></textarea>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

{% include related-entries.html %}

<script>
    window.COMMENTS_API = "{{ site.data.comments.api }}";
    window.COMMENTS_ENTRY = "{{ page.uuid }}";
</script>

<script src="/assets/js/comments.js"></script>