---
layout: default
---

<div class="container-fluid">
    <div class="row">
        <!-- Sidebar -->
        <div class="col-sm-3 bg-light">
            <div class="p-3">
                <h5>Journal</h5>
                <ul class="nav flex-column">

                    {% assign welcome = site.journal | where: "title", "Welcome" | first %}
                    {% if welcome %}
                    <li class="nav-item">
                        <a class="nav-link {% if page.url == welcome.url %}active fw-bold{% endif %}"
                            href="{{ welcome.url }}">
                            {{ welcome.title | default: welcome.basename }}
                        </a>
                    </li>
                    <hr>
                    {% endif %}

                    {% assign others = site.journal
                     | where_exp: "i", "i.title != 'Welcome'"
                    | sort: "date" | reverse %}

                    {% assign by_year = others | group_by_exp: "item", "item.date | date: '%Y'" %}
                    {% for year in by_year %}
                    <li class="nav-header">{{ year.name }}</li>

                    {% assign by_month = year.items | group_by_exp: "e", "e.date | date: '%B'" %}
                    {% for month in by_month %}
                    <li class="nav-header ms-2">{{ month.name }}</li>

                    {% for entry in month.items %}
                    <li class="nav-item ms-3">
                        <a class="nav-link {% if page.url == entry.url %}active fw-bold{% endif %}"
                            href="{{ entry.url }}">
                            {{ entry.title | default: entry.basename }}
                        </a>
                    </li>
                    {% endfor %}
                    {% endfor %}
                    {% endfor %}

                </ul>
            </div>
        </div>

        <!-- Main content -->
        <div class="col-sm-9 px-4 py-4">
            <h5>{{ page.date | date: "%b %d, %Y" }}</h5>
            <h1>{{ page.title }}</h1>

            {% if page.reading_time %}
                <p class="text-muted mb-4">
                    <span class="badge text-bg-success">{{ page.reading_time }} min read</span>
                </p>
            {% endif %}

            {{ content }}
        </div>
    </div>
</div>